[worldserver]
########################################
# STAT BOOSTER CONFIGURATION
########################################
# 
#	StatBooster.Enable
#		说明：启用/禁用模块。
#		Default:	0 - (Disabled)
#					1 - (Enabled)
#

StatBooster.Enable = 1

#
#	StatBooster.VerboseEnable
#		描述：在聊天和服务器控制台中启用调试消息。
#		Default:	0 - (Disabled)
#					1 - (Enabled)
#		注意：仅出于调试目的启用此设置，
#			  因为此设置在运行时会性能下降。
#

StatBooster.VerboseEnable = 0

########################################

########################################
#
#	StatBooster.OnLoginEnable
#		说明：启用/禁用登录时显示的聊天消息。
#					0 - (Disabled)
#		Default:	1 - (Enabled)
#		注意：此公告仅针对玩家显示。
#

StatBooster.OnLoginEnable = 0

#
#	StatBooster.OnLoginMessage
#		描述：登录时显示的聊天信息。
#

StatBooster.OnLoginMessage = "此服务器正在运行 随机附魔 模块。"

########################################

########################################
#
#	StatBooster.OnLootItemEnable
#		Description: 启用/禁用从掠夺中接收强化物品。
#					0 - (Disabled)
#		Default:	1 - (Enabled)
#

StatBooster.OnLootItemEnable = 1

#
#	StatBooster.OnQuestRewardItemEnable
#		Description: 启用/禁用从任务奖励中接收强化物品。
#					0 - (Disabled)
#		Default:	1 - (Enabled)
#

StatBooster.OnQuestRewardItemEnable = 1

#
#	StatBooster.OnCraftItemEnable
#		Description: 启用/禁用从制作中接收强化物品。
#					0 - (Disabled)
#		Default:	1 - (Enabled)
#

StatBooster.OnCraftItemEnable = 1

#
#	StatBooster.LootItemChance
#		Description: 您从掠夺中获得强化物品的百分比。
#		Default:	100
#		Range:		0-100
#

StatBooster.LootItemChance = 20

#
#	StatBooster.QuestRewardChance
#		Description: 您从任务奖励中获得强化物品的几率。
#		Default:	100
#		Range:		0-100
#

StatBooster.QuestRewardChance = 20

#
#	StatBooster.CraftItemChance
#		Description: 您从制作中获得强化物品的几率。
#		Default:	100
#		Range:		0-100
#

StatBooster.CraftItemChance = 20

########################################

########################################
#
#	StatBooster.MinQuality
#		Description: 考虑强化物品之前的最低质量。
#					0 - (灰色)
#					1 - (白色)
#		Default:	2 - (绿色)
#					3 - (蓝色)
#					4 - (紫色)
#					5 - (橙色)
#

StatBooster.MinQuality = 2

#
#	StatBooster.MaxQuality
#		Description: 考虑强化物品之前的最高质量。
#					0 - (灰色)
#					1 - (白色)
#					2 - (绿色)
#					3 - (蓝色)
#		Default:	4 - (紫色)
#					5 - (橙色)
#

StatBooster.MaxQuality = 5

########################################

########################################
#
#	StatBooster.PlaySoundEnable
#		Description: 接收强化物品时启用/禁用播放声音。
#					0 - (Disabled)
#		Default:	1 - (Enabled)
#

StatBooster.PlaySoundEnable = 0

#
#	StatBooster.SoundId
#		Description: 接收强化物品时播放的声音 ID。
#		Default:	120 - (LOOTWINDOWCOINSOUND)
#		Note: 注意：您可以在 https://wotlkdb.com/?sounds 找到声音 id，其中 url 中的数字是 id。
#

StatBooster.SoundId = 120

########################################

########################################
#
#	StatBooster.SoulbindOnEnchantRoll
#		Description: 通过掷骰赢得时，启用/禁用绑定附魔物品。
#		Default:	0 - (Disabled)
#		            1 - (Enabled)
#

StatBooster.SoulbindOnEnchantRoll = 0

#
#	StatBooster.SoulbindOnEnchantLoot
#		Description: 启用/禁用绑定被掠夺的附魔物品
#		Default:	0 - (Disabled)
#		            1 - (Enabled)
#

StatBooster.SoulbindOnEnchantLoot = 0

#
#	StatBooster.SoulbindOnEnchantQuest
#		Description: 启用/禁用绑定从任务中获得的附魔物品
#		Default:	0 - (Disabled)
#		            1 - (Enabled)
#

StatBooster.SoulbindOnEnchantQuest = 0

#
#	StatBooster.SoulbindOnEnchantCraft
#		Description: 启用/禁用绑定附魔物品
#		Default:	0 - (Disabled)
#		            1 - (Enabled)
#

StatBooster.SoulbindOnEnchantCraft = 0

########################################

########################################
#
#	StatBooster.AnnounceBoostEnable
#		Description: 接收强化物品时启用/禁用通知。
#					0 - (Disabled)
#		Default:	1 - (Enabled)
#		注意：此公告仅针对玩家显示。
#

StatBooster.AnnounceBoostEnable = 1

#
#	StatBooster.AnnounceLoot
#		Description: 拾取强化物品时显示的聊天消息。
#

StatBooster.AnnounceLoot = "你获得一件强化物品"

#
#	StatBooster.AnnounceQuest
#		Description: 收到任务强化物品时显示的聊天消息。
#

StatBooster.AnnounceQuest = "你收到了一件强化物品。"

#
#	StatBooster.AnnounceCraft
#		Description: 制作强化物品时显示的聊天消息。
#

StatBooster.AnnounceCraft = "你制作了一件强化物品。"

########################################

########################################
#
#	StatBooster.OverwriteEnchantEnable
#		Description: 强化物品时启用/禁用附魔覆盖当前附魔。
#					0 - (Disabled)
#		Default:	1 - (Enabled)
#		Note: 	此模块上的附魔使用“BONUS_ENCHANTMENT_SLOT”来实现其奖励统计。
#				如果物品已经填充它，则启用此功能将覆盖此插槽。
#				为具有增强属性的物品添加宝石时，有机会失去对物品的附魔。
#

StatBooster.OverwriteEnchantEnable = 0

########################################